.outer-header-container {
    box-shadow: 0 50vh 0 50vh white; 
    background-color: white;
    border-bottom: 1px solid #e4e4e4;
    line-height: 3;
    
}

/* TOP LEFT HEADER START */
.inside-header {
    display: flex; 
    justify-content: space-between; 
    flex: 1; 
    
}

.googleImage {
    width: 100px; 
    height: auto; 
    margin-right: 20px;
    margin-top: 25px;
    margin-left: 20px;
}

.search-bar {
    display: flex; 
    border: 1px solid #dfe1e5; 
    height: 30px; 
    width: 482px; 
    border-radius: 8px;  
    align-items: center; 
    flex-direction: row; 
    margin-left: 25px;
    margin-top: 25px;
 }
 
 .search-image {
     border: 1px hidden #dfe1e5; 
     border-radius: 8px; 
     height: 25px; 
 
 }
 
 .mic-image {
     border: 1px hidden #dfe1e5;
     border-radius: 8px;
     height: 25px;  
 }
 
 .search-input {
     border-radius: 8px;
     height: 30px; 
     width: 482px; 
     border: 1px solid #dfe1e5; 
 }

 .clear-image {
    border-radius: 8px;
    border: 1px hidden #dfe1e5;
    height: 25px; 
 }
 
 .temp-container {
     display: flex; 
     align-items: center;
     color: grey; 
     transform: scale(1,1); 
     height: 25px; 
    }
    
    
    
    
    
/* TOP LEFT HEADER END */
    
/* TOP RIGHT HEADER START */

.top-right-header-container {
    display: flex;
    flex: 1; 
    justify-content: flex-end; 
    align-items: flex-end;
}

.settings-image {
    margin-left: 5px; 
    margin-right: 5px;
}

.apps-image {
    margin-left: 5px;
    margin-right: 5px;  
}
    
.circular-image {
    display: flex;
    border-radius: 50%; 
    height: 25px;
    margin-left: 5px; 
    margin-right: 5px;
}

/* TOP RIGHT HEADER END */ 

/* UNDER SEARCH BAR START */
.under-search-bar {
    display: flex;
    flex-flow: row wrap;
    margin-top: 15px;
    margin-left: 30px;
}

.all-text {
    display: flex; 
    margin-left: 130px;
    margin-right: 10px;
    border: none;
    background: none;
    font-size: 15px; 
    cursor: pointer; 
    border-bottom: 3px solid blue; 
    margin-top: 15px;
    color: blue;
    height: 30px;
}

.rainbow-search-image {
    display: flex; 
    height: 17px;
    margin-right: 6px; 
}

.news-text {
    display: flex; 
    border: none; 
    background: none; 
    font-size: 15px; 
    cursor: pointer;
    margin-top: 15px;
 
}

.news-image {
    height: 17px; 
    margin-right: 6px;
}

.videos-text {
    display: flex; 
    border: none; 
    background: none; 
    font-size: 15px; 
    cursor: pointer;
    margin-top: 15px;
}

.videos-image {
    height: 17px; 
    margin-right: 6px;
}

.maps-text {
    display: flex; 
    border: none; 
    background: none; 
    font-size: 15px; 
    cursor: pointer;
    margin-top: 15px;
}

.maps-image {
    height: 17px; 
    margin-right: 6px;
}

.shopping-text {
    display: flex; 
    border: none; 
    background: none; 
    font-size: 15px; 
    cursor: pointer;
    margin-top: 15px;
}

.shopping-image {
    height: 17px; 
    margin-right: 6px;
    transform: scaleX(-1); 
}

.more-text {
    display: flex; 
    border: none; 
    background: none; 
    font-size: 15px; 
    cursor: pointer;
    margin-top: 15px;
}

.more-image {
    height: 17px; 
    margin-right: 4px;
}

.tools-text {
    display: flex; 
    border: none; 
    background: none; 
    font-size: 15px; 
    cursor: pointer;
    margin-top: 15px;
    margin-left: 70px;
}


/* UNDER SEARCH BAR END */

/*  PEOPLE ALSO ASK SECTION START */
.search-results-time {
    margin-left: 150px;
    margin-top: 15px;
    color: grey;
}

.first-result-text {
    margin-left: 150px;
    margin-top: 15px;
    font-size: 15px;
    cursor: pointer;
}

.temp-text {
    display: inline;
    color: grey; 
    font-size: 15px;
    cursor: pointer;
}

.more-first-result-text {
    height: 20px;
    cursor: pointer;
}

.inside-text-first-result {
    margin-top: 5px;
    color: #1a0dab;
    cursor: pointer;
    font-size: 22px;
}

.inside-text-first-result:hover {
    text-decoration: underline;
}

.summary-text {
    width: 600px;
    margin-top: 5px;
}

.second-summary-text {
    font-weight: 545;
    margin-left: 150px;
    margin-top: 30px;
    font-size: 23px;
    box-shadow: 0 50vh 0 50vh white; 
    border-bottom: 1px solid #e4e4e4;
    width: 600px;
    height: 40px;
}

.second-more-image {
    display: inline;
    height: 20px;
    margin-left: 15px;
}

.second-element-text {
    margin-left: 150px;
    font-weight: 560;
    border-bottom: 1px solid #e4e4e4;
    width: 600px;
    height: 50px;
    cursor: pointer;
    
}

.second-down-image {
    margin-left: 387px;
    margin-top: 10px;
    cursor: pointer;
}

.third-element-text {
    margin-left: 150px;
    font-weight: 560;
    width: 600px;
    border-bottom: 1px solid #e4e4e4;
    height: 50px;
    cursor: pointer;
}

.third-down-image {
    margin-left: 330px;
    cursor: pointer;
    margin-top: 10px;
}

.fourth-element-text {
    margin-left: 150px;
    font-weight: 560;
    width: 600px;
    border-bottom: 2px solid #e4e4e4;
    height: 50px;
    cursor: pointer;
}

.fourth-down-image {
    margin-left: 170px;
    cursor: pointer;
    margin-top: 10px;
}

.feedback-text {
    margin-left: 550px;
    color: grey; 
}

/* PEOPLE ALSO ASK SECTION ENDS */

/* VIDEOS SECTION STARTS */ 

.third-result-container {  
    margin-left: 150px;
    margin-top: 40px;  
    border-bottom: 1px solid #e4e4e4;
    width: 600px; 
    height: 40px;
}

.third-video-image {
    margin-right: 10px; 
    
}

.third-videos-text {
    margin-top: 10px; 
    font-size: 30px;
    font-weight: 547;
    height: 40px;
    display: inline;
}

.third-element-more {
    margin-left: 20px; 
}

.third-youtube-container {
    display: flex;
}

.third-element-youtube-link {
    margin-top: 20px;
}

.third-youtube-text {
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer; 
    color: #1a0dab;
    font-size: 18px;
}

.third-result-first-text:hover {
    text-decoration: underline;
}

.third-youtube-text-extra {
    color: black;
    margin-top: 20px; 
    font-size: 15px; 
}

.youtube-text {
    display: inline;
}

.list-element-text {
    color: grey; 
    display: inline;
    margin-left: 10px;
}

.third-result-date {
    color: grey; 
    font-size: 15px;
    margin-top: 2px;
}

/* YOUTUBE TIMESTAMPS STARTS 
https://codeconvey.com/simple-horizontal-timeline-css/*/

.timeline-background-container {
    background-color: rgb(240, 246, 253);
    width: 750px;
    height: 190px; 
    border-bottom: 2px solid #e4e4e4;
    box-shadow: 0 50vh 0 50vh white; 
   
}

.up-arrow {
    display: inline;
    margin-left: 520px;
    
}
.timeline-container { 
    width: 600px;
	height: 105px;
	list-style: none;
	text-align: justify;
	margin: 80px auto;
	/* background-color: #d5e4fd; */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, #d5e4fd 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 30px;
}

.timeline-text {
    margin-left: -40px;
    margin-bottom: 10px;
    width: 750px;
}

.timeline-container:after {
    display: inline-block; 
    content: "";
    width: 100%; 
}

.timeline-container li {
    display: inline-block;
    width: 5px; 
    border-radius: 50%; 
    position: relative; 
    line-height: 1.2; 
    height: 5px;
    text-align: center; 
    background: #1967D2; 
}

.timeline-container li:hover {
    text-decoration: underline;
}

.timeline-container:before {
    display: inline-block; 
    content: attr(video-time);
    font-size: 26px;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
}

.timeline-container li:nth-child(odd):before {
    top: -40px; 
}

.timeline-container li:nth-child(even):before {
    bottom: -40px;
}

.timeline-container li:after {
    display: inline-block; 
    content: attr(video-text);
    font-size: 16px; 
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    margin-top: 20px;
    width: 100px;
    
}

/* YOUTUBE TIMESTAMPS ENDS */

/* SECOND YOUTUBE VIDEO STARTS */
.second-video-container {
    width: 600px;
    display: flex;
}

.under-second-video {
    background-color: rgb(240, 246, 253);
    border-bottom: 2px solid #e4e4e4;
    margin-top: 10px;
    height: 40px;
}

.second-down-arrow-image {
    margin-left: 390px;
    margin-top: 5px;
}

/* SECOND YOUTUBE VIDEO ENDS */

/* VIEW ALL CONTAINER STARTS */
.view-all-container {  
    position: relative;
    
}

.oval-shape {
    border-radius: 10%;
    width: 250px;
    height: 40px;
    background-color: #f9feff;
    text-align: center;
    margin-left: 150px;
    margin-top: 20px;
    line-height: 2;
    border: 1px solid #dadce0;
    color: blue;
    cursor: pointer;
}


.black-arrow-image {
    right: 80px;
    top: 5px;
    position: relative;
}

.view-all-text {
    display: inline;
    text-align: center;
    position: relative; 
    right: 5px;
}

/* Figured out the line overlap problem here https://stackoverflow.com/questions/18172072/div-with-text-over-hr-line */
.hr-element {
    padding: 0;
    border: 1px solid #dadce0;
    bottom: -40px;
    position: relative;
    margin-top: -10px;
}
/* VIEW ALL CONTAINER ENDS */

/* BUNCH OF RESULTS STARTS  */
.search-result-container {
    margin-top: 15px;
}

.result-extra-links {
    margin-top: 5px;
    color: #1a0dab;
}


